* {
    font-family: 'tajawal' !important;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.bg1 {
  color: #015a53;
  font-size: 39px;
}

.colorbg {
  background: #015a53;
  color: #ffffff;
}

.h3color {
  background: #015a53;
  display: inline-block;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.whitelaw {
  background: rgb(37 50 49 / 24%) !important;
}

.logo {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.navbar {
  width: 70%;
  margin: 0 auto;
  top: 2%;
}

.navbar-nav {
 margin-left: auto !important;
}

.navbar-nav .nav-link.active {
  color: #015a53;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    top: 0;
  }
}

.hero {
  height: 100vh;
  background: url('https://i.postimg.cc/W43Jmwg7/Whats-App-Image-2025-09-03-at-16-26-59-40d5dfee.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.25rem;
}


.img-box {
  width: 50%;
  overflow: hidden;
}
.img-fluid{
  height: 400px;
}

.img-down {
  margin-top: 30px;
}

.object-fit-cover {
  object-fit: cover;
}


 .equal-img {
    height: 500px;
    object-fit: cover;
    width: 100%;
  }

footer {
  background: url('https://i.postimg.cc/XqrBmZdF/Whats-App-Image-2025-09-02-at-14-57-18-41cee2da.jpg') no-repeat center center/cover;
}

